body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:darkgray
}

header {
    color: black;
    padding: 1rem;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration:none
    color: #333;
}

main {
    width: 80%;
    margin: 2rem auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid white;
}

section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

#integrantes img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover; 
    display: block;
    margin: 1rem auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: none;
    color: black;
}

#social button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#social button a {
    color: black;
    text-decoration: none;
}

footer {
    background-color:black;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
    color: white
}
